.header{
	height: 60px;
	width: 100%;
}

.navigation {
	height: 100%;
	display: flex;
	border-bottom: #cecece solid 1px;
	
	&__plug{
		width: 261.5px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__plug-username{
		font-weight: 600;
		color: rgb(169, 38, 38);
		font-size: 18px;
	}
	&__plug-logout-btn{
		background: none;
		font-weight: 600;
		color: rgb(36, 22, 138);
		font-size: 18px;
	}

	&__list {
		height: 100%;
		display: flex;
		align-items: center;
		
		
	}

	&__list-item {
		//margin-left: 60px;
		font-size: 18px;
		padding: 19px 20px 18px 20px;
    	margin-top: 7px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-top: #cecece solid 1px;
		border-left: #cecece solid 1px;
		border-right: #cecece solid 1px;
		//transform: translateX(10px);
		

		
		
		
		cursor: pointer;
	}
	&__list-item.active {
		//font-weight: 600;
		background:rgb(255, 255, 255);
		background-color: rgb(214, 214, 214);
	}
}
