.list{
	background-color: rgb(255, 255, 255);
	width: 262px;
	padding: 15px 15px;
	border-right: #cecece solid 1px;
	position: relative;
	&__holder{
		width: 262px;
		height: 3px;
	}
	
	&__title{
		font-size: 16px;
		font-weight: 600;
		line-height: 25px;
	}
	&__out{
		margin-top: 30px;
	}
	&__items{
		border-top: solid 1px rgb(211, 211, 211);
		cursor: pointer;
		transition: 0.4s all;
		display:flex;
		align-items:center;
		justify-content: space-between;
		height: 30px;
		padding: 0 10px;
	}
	&__items.active{
		background: rgb(237, 247, 255);
		padding-left: 30px;
	}
	&__items:hover{
		background: rgb(210, 230, 243);
	}

	&__item.active{
		font-weight: 600;
		
	}
	&__item{
		
	}
	&__item-icon{

	}
	&__sort-wrapper{
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 18px;
	}
	&__sort-alphabet, &__sort-data{
		border: solid black 1px;
		border-radius: 4px;
		padding: 4px 10px;
		margin: 0 5px;
	}

}