.list{
	background-color: rgb(203, 225, 255);
	max-width: 250px;
	padding: 15px 15px;
	&__title{
		font-size: 16px;
		font-weight: 600;
		line-height: 25px;
	}
	&__out{
		margin-top: 30px;
	}
	&__items{
		cursor: pointer;
	}
	&__item.active{
		font-weight: 600;
	}
	&__item{
		padding-top: 12px;
		line-height: 8px;
		border-top: solid 1px rgb(255, 255, 255);
	}
	&__item-icon{

	}
	&__sort-wrapper{
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 18px;
	}
	&__sort-alphabet, &__sort-data{
		border: solid black 1px;
		border-radius: 4px;
		padding: 4px 10px;
		margin: 0 5px;
	}

}