.self-card {
	margin-top: 50px;
	display: none;
	&__flex-wrapper{
		display: flex;
	}
	&__flex-left-side{
		width: 460px;
	}
	&__flex-right-side{
		width: 230px;
		margin-left: 30px;
	}
	&__title{
		text-align: center;
		font-size: 17px;
		font-weight: 600;
		color: rgb(155, 28, 28);
		margin-bottom: 25px;
		line-height: 30px;
	}
	&__wrapper {
		display: inline-block;
		border: rgb(206, 206, 206) solid 1editpx;
		padding: 45px;
		background-color:rgb(255, 255, 255)
	}
	&__name-and-surname-wrapper{
		display: flex;
	}
	&__input-wrapper {
		margin-top: 10px;
		display: flex;
		align-items: center;
	}
	&__input-wrapper.height{
		justify-content: space-between;
	}
	&__input-wrapper.low-margin{
		margin-top: 3px;
	}
	&__input-wrapper-select{
		justify-content: space-between;
	}

	&__input{
		margin: 0 5px;
		width: 100%;
		border: none;
		border-bottom: 1px rgb(137, 137, 137) solid;
		background-color:transparent;
		padding: 2px 10px;
		color: rgb(4, 110, 4);
		font-weight: 600;
	}
	&__input.height{
		margin: 0 5px;
		width: 120px;
		padding-left: 40px;
		
	}
	&__input-pre-name{
		line-height: 16px;
	}
	&__label{
		white-space: nowrap;
	}
	&__label-two-rows{
		//white-space:pre-wrap
		display: inline;
		white-space: normal;
		line-height: 31px;
	}
	&__input-wrapper-two-rows{
		display: block;
	}
	&__input-two-rows{
		display: inline;
		max-width: 264px;
		transform: translateY(-1px);
	}
	&__input-bottom{
		margin: 10px 0 0 0;
	}
	
	&__select, &__select-header, &__select-item{
		width: 120px;
		margin: 0 5px 0 0;
	}
	&__select.company{
		width: 140px;
	}
	&__select-header{
		width:auto;
		margin-right: 0;
	}
	&__select-current{
		padding: 3px;
	}
	&__select-icon{
		height: 28px;
	}
	&__save-btn{
		padding: 10px 15px;
		border-radius: 15px;
		margin-right: auto;
		background-color: rgb(182, 230, 173)
	}
	&__save-btn{
		padding: 10px 15px;
		border-radius: 15px;
		margin-right: auto;
		background-color: rgb(182, 230, 173)
	}
	&__save-btn{
		padding: 10px 15px;
		border-radius: 15px;
		margin-right: auto;
		background-color: rgb(182, 230, 173);
		font-size: 20px;
	}
	&__del-btn{
		padding: 10px 15px;
		border-radius: 15px;
		background-color: rgb(238, 20, 20);
		color:rgb(255, 255, 255);
		max-width: 140px;
	}
	&__edit-btn{
		padding: 10px 10px;
		border-radius: 15px;
		background-color: rgb(255, 132, 0);
		max-width: 140px;
	}
	&__btn-wrapper{
		margin-top: 45px;
		text-align: center;
	}
	&__btn-wrapper-edit-card{
		display: flex;
		justify-content: space-between;
	}
}

.self-card.active{
	display: block;
}