.self-card {
	margin-top: 50px;
	display: none;
	&__flex-wrapper{
		display: flex;
	}
	&__flex-left-side{
		width: 460px;
	}
	&__flex-right-side{
		width: 230px;
		margin-left: 30px;
	}
	&__title{
		text-align: center;
		font-size: 17px;
		font-weight: 600;
		color: rgb(155, 28, 28);
		margin-bottom: 25px;
		line-height: 30px;
	}
	&__wrapper {
		display: inline-block;
		border: rgb(206, 206, 206) solid 1px;
		padding: 45px;
		background-color:rgb(255, 255, 255);
		position: relative;
	}
	&__name-and-surname-wrapper{
		display: flex;
	}
	&__input-wrapper {
		margin-top: 10px;
		display: flex;
		align-items: center;
	}
	&__input-wrapper.height{
		justify-content: space-between;
	}
	&__input-wrapper.low-margin{
		margin-top: 3px;
	}
	&__input-wrapper-select{
		justify-content: space-between;
	}

	&__input{
		margin: 0 5px;
		width: 100%;
		border: none;
		border-bottom: 1px rgb(137, 137, 137) solid;
		background-color:transparent;
		padding: 2px 10px;
		color: rgb(4, 110, 4);
		font-weight: 600;
	}
	&__input.height{
		margin: 0 5px;
		width: 120px;
		padding-left: 40px;
		
	}
	&__input-pre-name{
		line-height: 16px;
	}
	&__label{
		white-space: nowrap;
	}
	&__label-two-rows{
		//white-space:pre-wrap
		display: inline;
		white-space: normal;
		line-height: 31px;
	}
	&__input-wrapper-two-rows{
		display: block;
	}
	&__input-two-rows{
		display: inline;
		max-width: 264px;
		transform: translateY(-1px);
	}
	&__input-bottom{
		margin: 10px 0 0 0;
	}
	
	&__select, &__select-header, &__select-item{
		width: 120px;
		margin: 0 5px 0 0;
	}
	&__select.company{
		width: 140px;
	}
	&__select-header{
		width:auto;
		margin-right: 0;
	}
	&__select-current{
		padding: 3px;
	}
	&__select-icon{
		height: 28px;
	}

	&__btns-wrapper{
		margin-top: 45px;
		position: absolute;
		top: -34px;
		right: 26px;
		display: flex;
		
	}
	&__svg-wrapper{
		width: 60px;
		height: 60px;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
	}
	&__svg-wrapper.save{
		//background:#aaff02;
		border: 5px solid #aaff02;
	}
	&__svg-wrapper.save:hover{
		background:#aaff02;
		transition: 0.6s all;
		border: 4px solid #000000;
	}
	&__svg-wrapper.edit{
		//background:#ff8800;
		border: 5px solid #ff8800;
	}
	&__svg-wrapper.edit:hover{
		background:#ff8800;
		transition: 0.6s all;
		border: 4px solid #000000;
	}
	&__svg-wrapper.del{
		//background:#ff0000;
		margin-right: 10px;
		border: 5px solid #ff0000;
	}
	&__svg-wrapper.del:hover{
		background:#ff0000;
		transition: 0.6s all;
		border: 4px solid #000000;
	}

	&__save-btn, &__del-btn, &__edit-btn{
		z-index: 2;
		fill: #000000;
		width: 33px;
		height: 33px;
	}
	&__del-btn{
		//color:rgb(255, 255, 255);
		//max-width: 140px;
	}
	&__edit-btn{
		//max-width: 140px;
	}
	
	&__btn-wrapper-edit-card{
		display: flex;
		justify-content: space-between;
	}
	&__norms-wrapper{
		margin-top: 30px;
	}
	&__norm-grid-container{
		position: relative;
		text-align: center;
		display:grid;
		grid-template-columns: 1.3fr 0.8fr 0.8fr 0.8fr
	}
	

	&__norm-grid-item{
		border: solid 1px #000000;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: none;
	}
	
	&__norm-grid-item:nth-child(4){
		border-right: solid 1px #000000;
	}
	&__norm-grid-item.input{
		border-top: none;
		text-align: center;
		color: rgb(4, 110, 4);
	}
	&__norm-btn, &__received-btn{//кнопка - добавить новое поле
		margin-top: 15px;
		display: block;
		padding: 9px 18px;
		background:rgb(172, 243, 100);
		border: solid 1px #000000;
		margin-left: auto;
		margin-right: 0;
		border-radius: 5px;
		transition: all 0.3s;
	}
	&__norm-btn:hover, &__received-btn:hover{
		background:rgb(142, 201, 83);
	}
	&__norm-grid-item-btn-wrapper,
	&__received-grid-item-btn-wrapper{
		position: absolute;
		width: 35px;
		height: 41px;
		border-right: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	&__received-grid-item-btn-wrapper{
		right: -28px;
		top: 3px;
	}
	&__norm-grid-item-btn-wrapper{
		right: -32px;
		top: 1px;
	}
	


	&__received-grid-item-btn-wrapper:hover .del-button-tableOfReceived,
	&__received-grid-container-created:hover .del-button-tableOfReceived,
	&__norm-grid-container:hover .del-button-tableOfnorms,
	&__norm-grid-item-btn-wrapper:hover .del-button-tableOfnorms {
		display: block;
	}

	&__norm-grid-item.del-button-tableOfnorms,
	&__received-grid-item.del-button-tableOfReceived{//ok
		cursor: pointer;
		display: none;
		border: none;
		font-size: 35px;
		color:red;
		justify-content: center;
		align-items: center;
	}
	&__received-wrapper{
		border: rgb(206, 206, 206) solid 1px;
		margin-top: 20px;
		background-color: #ffffff;
		padding: 40px 20px;
		max-width: 812px;
	}
	&__received-grid-container{
		display: grid;
		grid-template-columns: 115px 115px 75px 50px 50px 60px 75px 50px 60px 60px 60px;
		grid-template-rows: 25px 70px 25px;
	}
	&__received-grid-container-created{
		grid-template-rows: auto;
		position: relative;
	}
	&__received-grid-item{
		text-align: center;
		border: solid 1px #000000;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__received-grid-item>.min-width{
		width: min-content;
		margin: 0 auto;
	}
	&__received-grid-item.gr1{
		grid-row: 1/2;
	}
	&__received-grid-item.gr2{
		grid-row: 2/3;
		border-right: none;
		border-bottom: none;
	}
	&__received-grid-item.gr2.f{
		border-right: solid 1px #000000;
	}
	
	&__received-grid-item.gr3{
		grid-row: 1/3;
		border-bottom: none;
		border-right: none;
	}
	&__received-grid-item.gc2-6{
		grid-column: 3/7;
		border-bottom: none;
		border-right: none;
	}
	&__received-grid-item.gc7-12{
		grid-column: 7/12;
		border-bottom: none;
	}
	&__received-grid-item.gr3-1{
		grid-row: 3/4;
		border-right: none;
	}
	&__received-grid-item.gr3-1.f{
		border-right: 1px solid #000000;
	}
	&__received-grid-item.received{
		height: 50px;
		border-top: none;
		border-right: none;
	}
	&__received-grid-item.received.f{
		border-right: 1px solid #000000;
	}
	&__received-grid-item.textarea{
		resize: none;
		text-align: center;
		display:flex;
		align-items: center;

	}
	&__received-grid-item[type=date]{
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
}


.self-card.active{
	display: block;
}

::-webkit-calendar-picker-indicator {
		margin: 0;
		margin-top: 5px;
		justify-content: center;
		align-items: center;
	}
::-webkit-datetime-edit:last-child{
	display: none;
}