/*------reset styles start-------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------reset styles end-------*/

.select {
  margin: 0 auto;
  position: relative;
  width: 250px;
}

.select.is-active .select__body {
  display: block;
  z-index: 1;
}

.select__header {
  border: 1px solid #ccc;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select__current {
  line-height: 24px;
  padding: 8px;
}

.select__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  margin-left: auto;
  text-align: center;
  width: 40px;
}

.select__body {
  border: 1px solid #cccccc;
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #ffffff;
}

.select__item {
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  padding: 2px;
}

.select__item:hover {
  background-color: #f2f2f2;
}

* {
  font-family: Georgia, serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

html {
  scroll-behavior: smooth;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content-field {
  background: url("../img/bg/bg.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.header {
  height: 60px;
  width: 100%;
}

.navigation {
  height: 100%;
}

.navigation__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list-item {
  margin-left: 60px;
  font-size: 18px;
  cursor: pointer;
}

.navigation__list-item.active {
  font-weight: 600;
}

.footer {
  height: 60px;
  width: 100%;
  background-color: #bdbdbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  background-color: #cbe1ff;
  max-width: 250px;
  padding: 15px 15px;
}

.list__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

.list__out {
  margin-top: 30px;
}

.list__items {
  cursor: pointer;
}

.list__item.active {
  font-weight: 600;
}

.list__item {
  padding-top: 12px;
  line-height: 8px;
  border-top: solid 1px white;
}

.list__sort-wrapper {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
}

.list__sort-alphabet,
.list__sort-data {
  border: solid black 1px;
  border-radius: 4px;
  padding: 4px 10px;
  margin: 0 5px;
}

.self-card {
  margin-top: 50px;
  display: none;
}

.self-card__flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.self-card__flex-left-side {
  width: 460px;
}

.self-card__flex-right-side {
  width: 230px;
  margin-left: 30px;
}

.self-card__title {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #9b1c1c;
  margin-bottom: 25px;
  line-height: 30px;
}

.self-card__wrapper {
  display: inline-block;
  border: #cecece solid 1px;
  padding: 45px;
  background-color: white;
  position: relative;
}

.self-card__name-and-surname-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.self-card__input-wrapper {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.self-card__input-wrapper.height {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.self-card__input-wrapper.low-margin {
  margin-top: 3px;
}

.self-card__input-wrapper-select {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.self-card__input {
  margin: 0 5px;
  width: 100%;
  border: none;
  border-bottom: 1px #898989 solid;
  background-color: transparent;
  padding: 2px 10px;
  color: #046e04;
  font-weight: 600;
}

.self-card__input.height {
  margin: 0 5px;
  width: 120px;
  padding-left: 40px;
}

.self-card__input-pre-name {
  line-height: 16px;
}

.self-card__label {
  white-space: nowrap;
}

.self-card__label-two-rows {
  display: inline;
  white-space: normal;
  line-height: 31px;
}

.self-card__input-wrapper-two-rows {
  display: block;
}

.self-card__input-two-rows {
  display: inline;
  max-width: 264px;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

.self-card__input-bottom {
  margin: 10px 0 0 0;
}

.self-card__select,
.self-card__select-header,
.self-card__select-item {
  width: 120px;
  margin: 0 5px 0 0;
}

.self-card__select.company {
  width: 140px;
}

.self-card__select-header {
  width: auto;
  margin-right: 0;
}

.self-card__select-current {
  padding: 3px;
}

.self-card__select-icon {
  height: 28px;
}

.self-card__btns-wrapper {
  margin-top: 45px;
  position: absolute;
  top: -34px;
  right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.self-card__svg-wrapper {
  width: 60px;
  height: 60px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.self-card__svg-wrapper.save {
  border: 5px solid #aaff02;
}

.self-card__svg-wrapper.save:hover {
  background: #aaff02;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
  border: 4px solid #000000;
}

.self-card__svg-wrapper.edit {
  border: 5px solid #ff8800;
}

.self-card__svg-wrapper.edit:hover {
  background: #ff8800;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
  border: 4px solid #000000;
}

.self-card__svg-wrapper.del {
  margin-right: 10px;
  border: 5px solid #ff0000;
}

.self-card__svg-wrapper.del:hover {
  background: #ff0000;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
  border: 4px solid #000000;
}

.self-card__save-btn,
.self-card__del-btn,
.self-card__edit-btn {
  z-index: 2;
  fill: #000000;
  width: 33px;
  height: 33px;
}

.self-card__btn-wrapper-edit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.self-card__norms-wrapper {
  margin-top: 30px;
}

.self-card__norm-grid-container {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1.3fr 0.8fr 0.8fr 0.8fr;
}

.self-card__norm-grid-container:hover .self-card__norm-grid-item.del-button-tableOfnorms {
  display: block;
}

.self-card__norm-grid-item {
  border: solid 1px #000000;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: none;
}

.self-card__norm-grid-item:nth-child(4) {
  border-right: solid 1px #000000;
}

.self-card__norm-grid-item.input {
  border-top: none;
  text-align: center;
  color: #046e04;
}

.self-card__norm-btn,
.self-card__received-btn {
  margin-top: 15px;
  display: block;
  padding: 9px 18px;
  background: #acf364;
  border: solid 1px #000000;
  margin-left: auto;
  margin-right: 0;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.self-card__norm-btn:hover,
.self-card__received-btn:hover {
  background: #8ec953;
}

.self-card__norm-grid-item-btn-wrapper {
  position: absolute;
  width: 35px;
  height: 41px;
  right: -34px;
  top: -1px;
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.self-card__norm-grid-item-btn-wrapper:hover .self-card__norm-grid-item.del-button-tableOfnorms {
  display: block;
}

.self-card__norm-grid-item.del-button-tableOfnorms {
  cursor: pointer;
  display: none;
  border: none;
  font-size: 43px;
  color: red;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.self-card__norm-grid-item.del-button-tableOfnorms:hover {
  display: block;
}

.self-card__received-wrapper {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 40px 20px;
  max-width: 812px;
}

.self-card__received-grid-container {
  display: grid;
  grid-template-columns: 115px 115px 75px 50px 50px 60px 75px 50px 60px 60px 60px;
  grid-template-rows: 25px 70px 25px;
}

.self-card__received-grid-container.add {
  grid-template-rows: auto;
}

.self-card__received-grid-item {
  text-align: center;
  border: solid 1px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.self-card__received-grid-item > .min-width {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
}

.self-card__received-grid-item.gr1 {
  grid-row: 1/2;
}

.self-card__received-grid-item.gr2 {
  grid-row: 2/3;
  border-right: none;
  border-bottom: none;
}

.self-card__received-grid-item.gr2.f {
  border-right: solid 1px #000000;
}

.self-card__received-grid-item.gr3 {
  grid-row: 1/3;
  border-bottom: none;
  border-right: none;
}

.self-card__received-grid-item.gc2-6 {
  grid-column: 3/7;
  border-bottom: none;
  border-right: none;
}

.self-card__received-grid-item.gc7-12 {
  grid-column: 7/12;
  border-bottom: none;
}

.self-card__received-grid-item.gr3-1 {
  grid-row: 3/4;
  border-right: none;
}

.self-card__received-grid-item.gr3-1.f {
  border-right: 1px solid #000000;
}

.self-card__received-grid-item.add {
  height: 50px;
  border-top: none;
  border-right: none;
}

.self-card__received-grid-item.add.f {
  border-right: 1px solid #000000;
}

.self-card__received-grid-item.textarea {
  resize: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.self-card__received-grid-item[type=date] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.self-card.active {
  display: block;
}

::-webkit-calendar-picker-indicator {
  margin: 0;
  margin-top: 5px;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

::-webkit-datetime-edit:last-child {
  display: none;
}

.employee-info {
  padding-top: 50px;
  display: none;
  height: 100%;
}

.employee-info.active {
  display: block;
}

.modal-edit,
.modal-delete {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.modal-edit__wrapper,
.modal-delete__wrapper {
  width: 400px;
  background-color: white;
  padding: 15px;
  border: #a5a5a5 solid 2px;
}

.modal-edit__text,
.modal-delete__text {
  text-align: center;
  font-size: 18px;
}

.modal-edit__buttons-wrapper,
.modal-delete__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 18px;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 260px;
}

.modal-edit__button-yes,
.modal-delete__button-yes {
  padding: 5px 40px;
  background: #e99191;
}

.modal-edit__button-no,
.modal-delete__button-no {
  padding: 5px 40px;
  background: #b4f398;
}

.modal-edit.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-delete.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.webp .main-content-field { background: url(../img/bg/bg.webp); }